*.lo
*.o
*.cache
*.la
*~
.deps/
.libs/
aclocal.m4
Makefile
Makefile.in
stamp-h1
missing
libtool
ltmain.sh
install-sh
mkinstalldirs
config.h
config.h.in
config.guess
config.log
config.status
config.sub
configure
compile
depcomp

libwebsocket.a
peabody-server
frob-websocket
test-websocket
